<!--Navbar-->
<div class="navigationbar">

  <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark">

    <!-- Navbar brand -->
    <mdb-navbar-brand><a class="navbar-brand" href="#">SLULU</a></mdb-navbar-brand>

    <!-- Collapsible content -->
    <links>

      <!-- Links -->
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link waves-light" mdbWavesEffect>Events<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-light" mdbWavesEffect>About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-light" mdbWavesEffect>Contacts</a>
        </li>

        <!-- Dropdown -->
        <li class="nav-item dropdown" dropdown>
          <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
            <span class="caret"></span></a>
          <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
            <a class="dropdown-item waves-light" mdbWavesEffect href="#">Ask help</a>
            <a class="dropdown-item waves-light" mdbWavesEffect href="#">Offer help</a>
            <a class="dropdown-item waves-light" mdbWavesEffect href="#">Campus events</a>
            <div class="divider dropdown-divider"></div>
            <a class="dropdown-item waves-light" mdbWavesEffect href="#">Go to college site</a>
          </div>
        </li>
        <!--log in icon -->
        <li>
          <i class="fa sign-in" aria-hidden="true"></i>
        </li>

      </ul>
      <!-- Links -->

      <!-- Search form -->
      <form class="form-inline waves-light" mdbWavesEffect>
        <div class="md-form mt-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search">
        </div>
      </form>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a  class="nav-link waves-light" mdbWavesEffect>Login</a>
        </li>
      </ul>

    </links>
    <!-- Collapsible content -->

  </mdb-navbar>
</div>

